# WebSocket Server Configuration
VITE_SOCKET_URL=http://localhost:3001 

MONGODB_URI=mongodb+srv://admin:AQ123456789aq@cluster0.o28a730.mongodb.net/?appName=Cluster0

# Server Configuration
PORT=3001
NODE_ENV=development

# JWT Configuration
JWT_SECRET=84d584e370ab739443f716d60a4528fcf788a54bebef40806f2f836061a25e54eaa9aaab328eb523944c6159ad44d0ff49b9a9d4757b7dfca204abfb900e31bf
JWT_EXPIRES_IN=7d

# File Upload Configuration
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# Logging
LOG_LEVEL=info 